<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<title>管理面板</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding:30px">
<table class="table table-bordered">
<th>用户组列表</th>
<th></th>
<th>
<a href="/Home/User/groupadd/" target="mainFrame">添加组</a>|<a href="/Home/User/lists/" target="mainFrame">用户列表</a>
</th>	
<tr>
<td>用户组ID</td>
<td>用户组名称</td>
<td>操作</td>

</tr>
<volist name="list" id="vo">
<tr>
<td>{$vo.id}</td>
<td>{$vo.title}</td>
<td><a href="/Home/User/group/id/{$vo.id}">查看</a>|<a href="/Home/User/up/id/{$vo.id}">修改</a>|<a href="/Home/User/del/id/{$ov.id}">删除</a></td>
</tr>
</volist>
    </table>




</body>
</html>
