<extend name="Main:base" />
<block name="menu">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			数据查询 <small>Select</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">数据统计</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">数据查询</a>
					</li>
				</ul>
                          </div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-edit"></i>数据查询
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
								<a href="javascript:;" class="remove">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">




								<div class="row">
                                                                     <div class="col-md-10">
                                                                          <form class="form-inline" action="/Home/Yuyue/stat" method="get">
                                                                          开始时间：<input type="text" class="form-control" name="start" class="Wdate" onClick="WdatePicker()">
                                                                          结束时间：  <input type="text" class="form-control" name="end" class="Wdate" onClick="WdatePicker()">
                                                                          分类：<select name="status" class="form-control" ><option value="全部">全部</option>
                                                                                <option value="已预约">已预约</option>
                                                                                <option value="已到院">已到院</option>

                                                                          </select>
                                                                                 <button type="submit" class="btn btn-default">搜索</button>
                                                                                 <a href="/Home/Yuyue/statout/" class="btn btn-primary">导出报表</a>
                                                                          </form>
                                                                  </div>
						           </div>


							</div>
                                                <div class="table-responsive" style="text-align:center;">
							<table class="table table-bordered">
								<thead>
								<tr>
									<th>
										 ID
									</th>
									<th>
										 部门：
									</th>
									<th>
										姓名：
									</th>
									<th>
										 性别：
									</th>
									<th>
										科室：
									</th>
                                                                            <th>录入时间：</th>
                                                                          <th>预约时间：</th>
                                                                          <td>联系方式：</th>
                                                                          <th>是否到院:</th>
                                                                          <th>是否手术:</th>
									<th>
										 操作
									</th>
								</tr>
								</thead>
								<tbody>
<volist name="list" id="vo">
<tr>
<td>{$vo.id}</td>
<td>{$vo.source}-{$vo.uname}</td>
<td>{$vo.name}</td>
<td>{$vo.gender}</td>
<td>{$vo.department}</td>
<td>{$vo.date}</td>
<td>{$vo.yydate}</td>
<td>{$vo.telephone}</td>
    <if condition="$vo.yuyue eq 已到院"><td><span class="label label-danger">已到院</span></td>
    
    <else />
 	<td><a  href="/Home/Yuyue/yy/id/{$vo.id}"><span class="label label-success">{$vo.yuyue}</span></a></button></td>

    </if>
  <if condition="$vo.surgery eq 否">
<td><a href="/Home/Yuyue/sur/id/{$vo.id}" class="btn btn-primary btn-xs" role="button">{$vo.surgery}</a></td>
  <else />
    <td><a href="javascript:void()" class="btn btn-danger btn-xs" role="button">{$vo.surgery}</a></td>
  </if>
   
<td><a href="/Home/Yuyue/more/id/{$vo.id}">查看</a>|
<a href="/Home/Yuyue/uplist/id/{$vo.id}">修改</a>|
<a href="/Home/Yuyue/del/id/{$vo.id}">删除</a>
</td>

</tr>
</volist>
							</tbody>
							</table>
                                                       </div>
<div class="row">


<div class="col-md-7 col-sm-7">
<div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate">

{$page}

   </div>
       </div>
            </div>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT -->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
</block>
