<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/Public/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
     <link href="/Public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<title>管理面板</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/Public/bootstrap/js/bootstrap.min.js"></script>
</head>

<body  style="padding-left:6px;padding-top:10px;">

      <div class="row">
        <div class="span3" style="width:200px">
          <div class="well"> 
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-plus-sign"></i>预约管理</li>
              <li><a href="/Home/Yuyue/add/" target="I1"><i class="icon-ok-sign"></i>预约登记</a></li>
              <li><a href="/Home/Yuyue/lists/" target="I1"><i class="icon-ok-sign"></i>预约列表</a></li>
              <li><a href="/Home/Yuyue/stat/" target="I1"><i class="icon-ok-sign"></i>数据统计</a></li>
              
              <li class="nav-header"><i class="icon-eye-open"></i>科室管理</li>
              <li><a href="/Home/Keshi/add/" target="I1"><i class="icon-ok-sign"></i>添加科室</a></li>
              <li><a href="/Home/Keshi/lists/" target="I1"><i class="icon-ok-sign"></i>全部科室</a></li>

              <li class="nav-header"><i class="icon-user"></i>用户管理</li>
                            <li><a href="/Home/User/add" target="I1"><i class="icon-ok-sign"></i>增加用户</a></li>
                            <li><a href="/Home/User/lists" target="I1"><i class="icon-ok-sign"></i>用户列表</a></li>
                            <li><a href="/Home/User/lists" target="I1"><i class="icon-ok-sign"></i>用户组管理</a></li>
                <li class="nav-header"><a href="/Home/Main/index/" target="I1"><i class="icon-cog"></i>关于软件</a></li>             
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        </div>
</body>
</html>
